
<div class="col-md-12" ng-controller="libraryCtrl">
    <div class="css-treeview libraryForm col-md-5 col-lg-offset-1">
        <ul>
            <li ng-repeat="collection in collectionItemsList.data">
                <input type="checkbox" id="item-0" /><label for="item-0" class="labelCollectionIcon" ng-click="showCollection(collection)">{{collection.Title}}</label>
                <ul>
                    <li ng-repeat="item in collection.Items">
                        <input type="checkbox" id="item-0-0" /><label for="item-0-0" ng-click="showMetadata(item)"><i class="fa fa-1x fa-file-o text-primarywhite sr-icons">&nbsp;</i>{{item.Title}}</label>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    <div class="collectionManagement col-md-4 col-lg-offset-7 libraryForm" ng-if="showCollectionFlag == true">
        <table>
            <tr class="form-group">
                <td class="col-md-1">
                    <div>
                        <span class="control-label"><strong>Title</strong></span>
                    </div>
                </td>
                <td class="col-md-offset-1 col-md-3">
                    <div>
                        <input type="text" name="title" ng-model="collection.Title" class="form-control">
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">
                    <div>
                        <span class="control-label"><strong>Description</strong></span>
                    </div>
                </td>
                <td class="col-md-offset-1 col-md-3">
                    <div>
                        <textarea rows="2" cols="3" class="form-control" ng-model="collection.Description"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">
                    &nbsp;
                </td>
                <td>
                    <div class="checkbox col-lg-offset-1 col-md-5">
                        <input type="checkbox" name="isPrivate" ng-model="collection.IsPrivate">Is private<br>
                    </div>
                    <input type="button" value="Save" class="btn btn-default col-lg-offset-3" ng-click="saveCollection(collection)" />
                </td>
            </tr>

        </table>
    </div>
    <div class="collectionManagement col-md-4 col-lg-offset-7 libraryForm" ng-if="showMetadataFlag == true">
        <table class="addItemLibrary">
            <tr class="form-group">
                <td class="col-md-1">Title:</td>
                <td class="col-md-offset-1 col-md-3">
                    <div>
                        <input type="text" class="form-control" name="title" ng-model="item.Title">
                    </div>
                </td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">Item Type:</td>
                <td class="blackfont col-md-offset-1 col-md-3"><input type="text" class="form-control" name="title" ng-model="item.DocumentType"></td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">Author:</td>
                <td class="blackfont col-md-offset-1 col-md-3"><input type="text" class="form-control" name="title" ng-model="item.Metadata.Author"></td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">Abstract:</td>
                <td class="blackfont col-md-offset-1 col-md-3"><input type="text" class="form-control" name="title" ng-model="item.Metadata.Abstract"></td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">Publisher:</td>
                <td class="blackfont col-md-offset-1 col-md-3"><input type="text" class="form-control" name="title" ng-model="item.Metadata.Publisher"></td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">Language:</td>
                <td class="blackfont col-md-offset-1 col-md-3"><input type="text" class="form-control" name="title" ng-model="item.Metadata.Language"></td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">URL:</td>
                <td class="blackfont col-md-offset-1 col-md-3"><input type="text" class="form-control" name="title" ng-model="item.Metadata.Url"></td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">Rights:</td>
                <td class="blackfont col-md-offset-1 col-md-3"><input type="text" class="form-control" name="title" ng-model="item.Metadata.Rights"></td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">Extra:</td>
                <td class="blackfont col-md-offset-1 col-md-3"><input type="text" class="form-control" name="title" ng-model="item.Metadata.Extra"></td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">Date:</td>
                <td class="blackfont col-md-offset-1 col-md-3"><input type="text" class="form-control" name="title" ng-model="item.Metadata.Date" disabled="disabled"></td>
            </tr>
            <tr class="form-group">
                <td class="col-md-1">
                    &nbsp;
                </td>
                <td>
                    <div class="checkbox col-lg-offset-1 col-md-5">
                        <input type="checkbox" name="isPrivate" ng-model="item.IsPrivate">Is private<br>
                    </div>
                    <input type="button" value="Save" class="btn btn-default col-lg-offset-3" ng-click="saveItem(item)" />
                </td>
            </tr>
        </table>
    </div>


</div>